.goods {
  margin: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  min-width: 200px;
  justify-content: center;
}

.goods h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #6b3605;
  font-size: 1.25rem;
}

.img_wrap {
  width: 200px;
  height: 220px;
  margin: 0 auto;
}

.img_wrap img {
  width: 100%;
  object-fit: contain;
}
