.footer {
  margin-top: 50px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: rgba(32, 32, 32, 0.95);
  color: rgb(211, 211, 211);
}

.footer p {
  padding-top: 40px;
  margin-bottom: 5px;
}
