.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #cccccc;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
