.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.active {
  font-weight: bolder;
  font-size: larger;
}

.myCart {
  font-size: 35px;
  color: black;
  padding: 4px;
  margin: 2px;
  border-radius: 13px;
  cursor: pointer;
}
.myCart:hover {
  color: #686262;
}

.logout b {
  color: black;
}

.logout button {
  margin: 5px;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.logout button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.81);
  color: whitesmoke;
}
