.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link a {
  text-align: center;
  text-decoration: none;
}

.mypage {
  font-size: 30px;
  background-color: antiquewhite;
  padding: 2px 2px;
  margin: 2px;
  border-radius: 13px;
  cursor: pointer;
}

.logout button {
  border-radius: 8px;
  padding: 5px 8px;
  margin-left: 10px;
  margin-top: 10px;
}

.logout button:hover {
  cursor: pointer;
}
