.login {
  text-align: center;
  padding: 10px;
}

.button {
  margin-top: 10px;
  border: none;
  background: none;
}
.button:hover {
  border-radius: 8px;
}
.gooBtn {
  cursor: pointer;
  width: 250px;
  height: auto;
}
