.wrapper {
  text-align: center;
  position: relative;
  margin: 10px 15px;
}
.btn {
  margin: 3px;
  text-align: center;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.my_cart {
  border: 2px solid lightslategray;
  border-radius: 13px;
  margin: 10px 30px;
  padding: 10px;
}
.orderList_title {
  margin-bottom: 15px;
}
